<h1> Welcome to Earth </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/earth.png" alt="Earth"/>
</div>

<div id="planet_info">
	<p>
	The third planet from the sun (150 million km), and the fifth-largest in the solar system.<br/><br/>
	
	Our home. Earth has the unique distinction of being the only known planet to be home to living beings.<br/><br/>
	
	Owing to our habitable planet is the abundance of water.<br/><br/>
	
	1 Day: 24 hours<br/>
	1 Year: ~365 days
	</p>
</div>

<% include partials/footer.ejs %>