<h1> Welcome to Jupiter </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/jupiter.png" alt="Jupiter"/>
</div>

<div id="planet_info">
	<p>
	The fifth planet from the Sun (778 million km), and the largest in our solar system.<br/><br/>
	
	A gas giant with more mass than twice the amount of our other planets combined. Its Great Red Sport storm alone is bigger than Earth.<br/><br/>
	
	1 Day: 10 Earth hours<br/>
	1 Year: 12 Earth years
	</p>
</div>

<p>Information about Jupiter.</p>
<% include partials/footer.ejs %>