<h1> Welcome to Mars </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/mars.png" alt="Mars"/>
</div>

<div id="planet_info">
	<p>
	Fourth-farthest from the Sun (228 million km), <br/><br/>
	
	It's rather chilly, and unlikely to have little gray men. Green, maybe. But unlikely.<br/><br/>
	
	There are all sorts of stormy activity on this rocky planet, which is red due to the rusted iron minerals in its soil.<br/><br/>
	
	1 Day: Slightly over 24 Earth hours<br/>
	1 Year: 687 Earth days
	</p>
</div>

<% include partials/footer.ejs %>