<h1> Welcome to Mercury </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/mercury.png" alt="Mercury"/>
</div>

<div id="planet_info">
	<p>
	This planet is the closest to the Sun (58 million km), and the smallest in the solar system.<br/><br/>
	
	The surface is made of solid rock, similar to our planet's own moon. Speaking of which, Mercury itself has no moons.<br/><br/>
	
	Despite being closest to the Sun, it is not the hottest planet in our solar system (Venus is).<br/><br/>
	
	1 Day: ~176 Earth days<br/>
	1 Year: 88 Earth days
	</p>
</div>

<% include partials/footer.ejs %>