<h1> Welcome to Neptune </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/neptune.png" alt="Neptune"/>
</div>

<div id="planet_info">
	<p>
	This is the eight-farthest from the Sun, at 4.5 billion km. Despite being four times wider than Earth, it is not visible to the naked eye.</br></br>
	
	Full of hot ice and plenty of gas. As far as up-close research goes, only Voyager 2 came close to Neptune, back in 1989.<br/><br/>
	
	1 Day: 16 Earth hours<br/>
	1 Year: 165 Earth years
	</p>
</div>

<% include partials/footer.ejs %>