<h1> Welcome to Saturn </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/saturn.png" alt="Saturn"/>
</div>

<div id="planet_info">
	<p>
	The famous planet with rings is the sixth-farthest from the Sun (1.4 billion km). The planet alone (without the rings) is over nine times the size of Earth.</br></br>
	
	Like Jupiter, Saturn is also a gas giant. It has seven rings, composed of chunks of ice and rock. Despite how prominent the rings are, it is not the only planet to have them.<br/><br/>
	
	1 Day: ~10.7 Earth hours<br/>
	1 Year: 29 Earth years
	</p>
</div>

<p>Information about Saturn.</p>
<% include partials/footer.ejs %>