<h1> Welcome to Pluto </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/pluto.png" alt="Pluto"/>
</div>

<p>I'm only a dwarf planet. I don't matter anymore.</p>
<% include partials/footer.ejs %>