<h1> Welcome to Uranus </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/uranus.png" alt="Uranus"/>
</div>

<div id="planet_info">
	<p>
	That's right. It's Uranus. What's the problem?</br></br>
	
	The 7th-farthest planet from the Sun (2.9 billion km), about four times the size of our planet.<br/><br/>
	
	Uranus is giant, icy, warm, unable to support life, and also full of gas. Yeah, really. There are also 27 known moons, and 13 rings. The only spacecraft to fly by it is Voyager 2.<br/><br/>
	
	1 Day: 17 Earth hours<br/>
	1 Year: 84 Earth years
	</p>
</div>

<p>Information about Uranus.</p>
<% include partials/footer.ejs %>