<h1> Welcome to Venus </h1>
<% include partials/header.ejs %>

<div id="planet_img">
	<img src="/img/venus.png" alt="Venus"/>
</div>

<div id="planet_info">
	<p>
	Second-farthest planet from the Sun (108 million km), similar in size to Earth.<br/><br/>
	
	Venus spins backwards, thus the sun rises in the west and sets in the east.<br/><br/>
	
	Although speculated to have once contained water on the surface, it is the hottest planet in our solar system. Therefore, it's pretty unlikely to accommodate life.<br/><br/>
	
	1 Day: 243 Earth days <br/>
	1 Year: 225 Earth days
	</p>
</div>


<p>Information about Venus.</p>
<% include partials/footer.ejs %>